
<header  id="header" class="header fixed-top" style="background-color: #fff ">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <span><img style=" width:85px; height:65px"   src="assets/img/fsegt.png" >
          <img  style=" width: 100px; height: 65px; margin-left: 10px;"  src="assets/img/logo_4c.png" ></span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/">Accueil</a></li>

          <li class="dropdown"><a  class="nav-link scrollto" href="#usecase"> S'inscrire</a></li>

          <li ><a class="nav-link scrollto" href="" routerLink="/login" >Se connecter</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" class="aos-init aos-animate">FSEGT STUDENTS'CHALLENGE</h1>
          <h5 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
            Une compétition pour les meilleures idées innovantes proposées par des équipes pluridisciplinaires,
             composées de cinq étudiants et fraichement diplômés appartenant à différentes spécialités de la FSEGT.<br> <br>
  Une expérience unique qui permettra aux étudiants et équipes sélectionnés de profiter de formations et d’accompagnement personnalisé, aboutissant ainsi à l’amélioration de leurs compétences entrepreneuriales et à la concrétisation de leurs rêves et au lancement de leurs projets.
  </h5>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" routerLink="/login">
                <span>Se connecter</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/equipe.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

   <!-- ======= Values Section ======= -->
   <section id="usecase" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>C'est a vous de choisir</h2>
        <p>Type de Candidature</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/key-skills.png" class="img-fluid" alt="">
            <h3>Individu avec compétences</h3>
            <p>Si vous disposez de compétences à mettre au service d’une équipe de projet (exp : Marketing, Design, finance, Informatique, etc.).</p> <br> <br> <br>
            <button class="btn-2" routerLink="/signup/Individu avec compétences">S'inscrire <i class="bi bi-arrow-right"></i></button>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="assets/img/person.png" class="img-fluid" alt="">
            <h3>Individu avec idée de projet</h3>
            <p>Si vous disposez d’une idée de projet et vous chercher à recruter des compétences pour constituer une équipe pluridisciplinaire pour vous aider à mettre en œuvre votre projet.</p> <br> <br>
            <button class="btn-2" routerLink="/signup/Individu avec idée de projet">S'inscrire <i class="bi bi-arrow-right"></i></button>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="assets/img/idea.png" class="img-fluid" alt="">
            <h3>Equipe avec idée de projet</h3>
            <p>Si vous êtes deux personnes au moins, et quatre au plus qui partagent une idée de projet, que vous appartenez au moins à deux spécialités ou départements de la FSEGT, et que vous voulez compléter l’équipe pour mettre en œuvre votre projet.</p>
            <button class="btn-2" routerLink="/signup/Equipe avec idée de projet">S'inscrire <i class="bi bi-arrow-right"></i></button>
          </div>
        </div>

      </div>

    </div>

  </section>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Qui sommes nous </h3>
              <h2>Centre de Carrière et de Certification des Compétences</h2>
              <p>
                Le centre de carrière et de certification des compétences de la FSEGT est une structure dont la mission est
                 d’améliorer l’employabilité des futurs diplômés grâce à un programme de conseil, d’accompagnement, de formation, de certification et de réseautage. <br>
               Il veille également au développement de l’esprit entrepreneurial des étudiants et
                 jeunes diplômés de la FSEGT grâce à sa contribution à l’organisation de compétition
                   entrepreneuriale « FSEGT STUDENTS’CHALLENGE : Génération de futurs entrepreneurs ».

              </p>

            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/cc.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->





    <!-- ======= Contact Section ======= -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <!-- <img src="assets/img/logo.png" alt=""> -->
              <span>4C FSEGT</span>
            </a>
            <p>le Centre de Carrière et de Certification des Compétences « 4C FSEGT» donne accès à tous les étudiants et diplômés de la FSEGT  à un service de conseil, de formation, de certification et d’accompagnement à l’Insertion Professionnelle 

            </p>
            <div class="social-links mt-3">

              <a href="https://www.facebook.com/4CFSEGT" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>

            </div>

          </div>

          <div class="col-lg-2 col-6 footer-links">

          </div>


          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Nous Contacter </h4>
            <p>
              Campus Manar <br>
              FSEGT<br>

              <strong>Email:</strong> 4C@fsegt.utm.tn<br>
            </p>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>4C_FSEGT</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



